<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="solid"  [routerLink]="['/list']" >Device list</ion-button>
    </ion-buttons>
    <ion-title>{{this.AppConfig.deviceTitle}}</ion-title>
  </ion-toolbar>
  <ion-progress-bar [hidden]="!any_LOADING" type="indeterminate"></ion-progress-bar>
  <ion-progress-bar [hidden]="any_LOADING" ></ion-progress-bar>
</ion-header>
<ion-content class="ion-padding">

  <h3 [hidden]="!connectedToDevice">Sensors</h3>
  <ion-grid>
    <ion-row *ngFor="let item of this.SensorList" (click)="editSensor(item)">
      <ion-col size="4" size-md="2" size-lg="1" (click)="editSensor(item)" >{{item.sensor_name}}</ion-col>
      <ion-col size="6" size-md="9" size-lg="10"><div style="height: 100%;width:100%;"	 id="sparkline_{{item.id}}"></div></ion-col>
      <ion-col size="2" size-md="1" size-lg="1"><b>{{item.value}}</b></ion-col>
    </ion-row>
  </ion-grid>
  <ion-button [hidden]="!connectedToDevice" size="default"  fill="outline" [routerLink]="['/historic-data']" ><ion-icon name="analytics"></ion-icon>Historic data </ion-button>

  <h3 [hidden]="!connectedToDevice">Relays (IO pins)</h3>
  <ion-list>
    <ion-item *ngFor="let item of RelayList" >
      <ion-toggle   [enableOnOffLabels]="true" [checked]="item.state"  [disabled]="item.locked"  (ionChange)="setRelayValue(item)" >
       {{item.description}}
      </ion-toggle>
    </ion-item>
    <ion-item [hidden]="!connectedToDevice">
      <ion-button size="default"  fill="outline" (click)="editPinOverlay(0,'')"  >Configure new PIN</ion-button>
    </ion-item>
  </ion-list>

  <h3 [hidden]="!connectedToDevice">Trigger scripts</h3>
  <ion-item-group *ngFor="let triggerItem of TriggerList; trackBy:triggerByID">
    <ion-card>
      <ion-card-header>
       <h4>{{triggerItem.description}}</h4>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-toggle [enableOnOffLabels]="true"  [(ngModel)]="triggerItem.state" [checked]="triggerItem.state"  (ionChange)="toggleTriggerState(triggerItem)">Enabled</ion-toggle>
          </ion-item>
          <ion-list-header>
            Paramaters (click to change value)
          </ion-list-header>
          <ion-list>
            <ion-item *ngFor="let item of triggerItem.parameters" >
              <ion-button size="default" fill="outline" (click)="changeParameterAlert(item.id,item.name,item.par_value)"  >{{item.name}} = {{item.par_value}}</ion-button>
            </ion-item>
          </ion-list>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-item-group>

  <h3>Settings</h3>
  <ion-card>
    <ion-card-content>
      Status: {{this.status_message}}
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="!connectedToDevice">
    <ion-card-content>

            <ion-button fill="outline" size="default" id="restart-device-alert"  >Restart Device</ion-button>
            <ion-alert
              trigger="restart-device-alert"
              header="Are You sure you want to restart the device?"
              [buttons]="restartAlertButtons"
            ></ion-alert>
            <br>

            <ion-button fill="outline" size="default" id="shutdown-device-alert" >Shutdown Device</ion-button><br>
            <ion-alert
              trigger="shutdown-device-alert"
              header="Are You sure you want to shut down the device?"
              [buttons]="shutdownAlertButtons"
            ></ion-alert>
            <br>


          <ion-button fill="outline" size="default">Restore Initial Configuration</ion-button><br>
          <ion-button fill="outline" size="default">Save this configuration as Initial</ion-button><br>
           <br>
          <ion-button fill="outline" size="default" target="_blank" href="{{AppConfig.deviceURL}}/phpLiteAdmin/phpliteadmin.php" >Edit Configuration DB</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card [hidden]="!connectedToDevice">
    <ion-card-content>
      device config: {{this.DeviceConfig}}
    </ion-card-content>
  </ion-card>

</ion-content>
